@font-face{
    font-family: 'btb';
    src: url('../font/Back to Black Demo.ttf');
}

.navbar-toggle .icon-bar{
    color: white;
    background-color: white;
}

.navbar{
    background-color: #cc4732;
}

.navbar-form{
    box-shadow: none !important;
    margin: 0 !important;
}

.partie-bottom{
    position: fixed;
    bottom: 0;
    margin-bottom: 0 !important;
    width: 100%;
}

.partie-top{
    position: fixed;
    width: 100%;
}

.partie-top a{
    color: #ffffff;
}

.recherche{
    background-color: #eb6b56;
    width: 100%;
    margin-top: 3.5em;
    text-align: center;
}

.compte{
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-left: 0.3em;
}
.back-icon{
    font-size: 1.5em;
    margin-top: 0.1em;
    margin-left: 1em;
}
.barre{
    width: 100%;
}

.search{
    background-color: transparent !important;
    font-size: 1.5em;
    position: relative;
    padding: 0;
    border: none;
    color: #ffffff;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.margin{
    padding-bottom: 8em;
    padding-top: 8em;
    background-color: #F8F8F8;
    min-height: 600px;
}

.titre-appli{
    text-align: center;
    margin-top: 1em;
}

.titre-appli .navbar-brand{
    float: none !important;
    margin-top: 1em;
    font-size: 25px;
    font-family: 'btb';
}

.navbar-header a{
    color: #ffffff;

}

.navbar-collapse ul a{
    color: #ffffff;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.navbar-collapse ul a .fa{
    font-size: 2em;
}

.navbar-collapse ul a:hover{
    background-color: transparent;
}

.nav .open > a {
    background-color: transparent !important;
}
.dropdown-menu > li > a{
    color: #333333;
}
.nav >li {
    display: inline;
    float: left;
    width: 25%;
}
.btn-back{
    float: left;
}

.auteur{
    font-style: italic;
}

.img_recette{
    width: 100%;
    margin-top: 1.5em;
}

.img-home{
    padding-left: 0;
    padding-right: 0;
}

.gros-titre-home{
    font-family: 'btb';
    text-align: center;
    color: #cc4732;
}

.titre-home{
    font-family: 'btb';
    text-align: center;
    color: #eb6b56;
    font-size: 2.2em;
}

.description{

}

.recet-titre{
    font-family: 'btb';
    color: #cc4732;
}

.titre-compte{
    text-align: center;
    font-family: 'btb';
}

.deco{
    text-align: center;
}

.deco .fa{
    font-size: 1.5em;
}

.deco button{
    width: 100%;
}

.connexion{
    color: #eb6b56;
    background-color: transparent;
    border-color: #eb6b56;
}

.modif .btn{
   width: 100%;
}

.supp .btn{
    width: 100%;
}

.bouton{
    margin-bottom: 1em;
}

.valid-modif{
    width: 100%;
    font-size: 1.2em;
}

.modif-compte{
    text-align: center;
    margin-bottom: 20px;
}

.modif-compte button{
    width: 100%;
}

.modif-compte .fa{
    font-size: 1.5em;
}

.nav-haut{
    display: table;
    width: 100%;
}

.panel-heading{
    font-family: 'btb';
    color: #eb6b56;
}

.lien-co{
    text-align: center;
}

.lien-connexion a{
    color: #eb6b56;
}

/* PAGE LISTE RECETTE JULIEN */
.recette-titre{
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: "btb";
    border-bottom: 1px solid #999999;
}
.list-recette{
    -moz-box-shadow: 1px 1px 6px 0px #c0c0c0;
    -webkit-box-shadow: 1px 1px 6px 0px #c0c0c0;
    -o-box-shadow: 1px 1px 6px 0px #c0c0c0;
    box-shadow: 1px 1px 6px 0px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=6);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    height: 100px;
}
.img-recettes{
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
.p-recettes{
    padding-right: 0;
}
.img-list{
    height: 80px;
    width: auto;
    margin-top: 10px;
}
.bar-nav{
    padding: 0;
    margin-bottom: 0;
}
.titre-recette{
    color: #cc4732;
    font-family: "btb";
}

/* PAGE Detail RECETTE JULIEN */

.img-detail{
    height: auto;
    width: 100%;
}
.img-slide{
    height: 200px;
    padding: 0;
}
.descrip-titre{
    background-color: #FFFFFF;
    padding: 0;
}
.descrip-all{
    background-color: #FFFFFF;
}
.titre-detail{
    margin-top: -35px;
    margin-bottom: 10px;
    background-color:#eb6b56;
    font-family: "btb";
    color: white;
    padding: 5px 0;
    opacity: 0.8;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.fa-detail{
    font-size: 1.7em;
    margin-bottom: 5px;
}
.border-right{
    border-right: 1px solid #E0E0E0;
    margin-bottom: 5px;
}
.icon{
    display: table;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;
    margin-top: 10px;
}
.last-part{
    margin-bottom: 5px;
}

/* PAGE CREATE RECETTE JULIEN */

.form-control{
    border: 2px solid #eb6b56;
    border-radius: 2px;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #eb6b56;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #eb6b56;
    opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:   #eb6b56;
    opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #eb6b56;
}
.form-group{
    margin-top: 10px;
}
.form-group > select{
    width: 100%;
    margin-bottom: 10px;
    display: block;
    border: 2px solid #eb6b56;
}
h2{
    font-family: 'btb';
}