.navbar-toggle{
    color: white;
}

.navbar{
    background-color: #cc4732;
}

.partie-bottom{
    position: fixed;
    bottom: 0;
    margin-bottom: 0 !important;
    width: 100%;
}

.partie-top{
    position: fixed;
    width: 100%;
}

.margin{
    padding-bottom: 4em;
    padding-top: 5em;
}

.titre-appli{
    text-align: center;
    margin-top: 1em;
}

.titre-appli .navbar-brand{
    float: none !important;
    margin-top: 1em;
}

.navbar-header a{
    color: #ffffff;

}

.navbar-collapse ul a{
    color: #ffffff;
    text-align: center;
}

.navbar-collapse ul a .fa{
    font-size: 1.5em;
}

.navbar-collapse ul a:hover{
    background-color: transparent;
}

.nav .open > a {
    background-color: transparent !important;
}

.dropdown-menu > li > a{
    color: #333333;
}

.auteur{
    font-style: italic;
}

.img_recette{
    width: 100%;
}

.img-home{
    padding-left: 0;
    padding-right: 0;
}
.container-home{
    margin-top: 70px;
}